.jumbotron {
    background-color: #6b1c1c !important;
    color: #fff !important;
}

body {
    background: #6b1c1c !important;
}

input[type=text] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.calculator input {
    border: 0;
    outline: 0;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

.container {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.display_result {
    font-size: 20px;
    color: #000;
}

.author {
    font-size: 10px;
    color: #fff;
}